{
  "HUG_USERNAME": "",
  "HUG_PASSWORD": "",
  "GEMINI_API_KEY": "",
  "GEMINI_MODEL":"gemini-2.5-flash-lite",
  "OPEN_ROUTER_API_KEY": "",
  "OPEN_ROUTER_MODEL":"openai/gpt-oss-120b:free",
  "DEEPSEEK_MAIL": "",
  "DEEPSEEK_PASSWORD": "",
  "OPENAI_MAIL": "",
  "OPENAI_PASSWORD": "",
  "OLLAMA_URL": "http://192.168.1.222:11434/api/generate",
  "OLLAMA_MODEL": "gemma4:latest",
  "PHP_MY_ADMIN": "https",
  "PHP_MY_ADMIN_USER": "",
  "PHP_MY_ADMIN_PASSWORD": ""
}